<template name="instructionsRowMaterialize">

    {{!
        Instructions row (Materialize) - text on background paper
        Pass in the text values
    }}

    <div class="row">
        <div class="col s2">
            {{#if text1}}
                <div class="secondary-text-color instructions">{{text1}}</div>
            {{else}}
                &nbsp;
            {{/if}}
        </div>

        <div class="col s8">
            {{#if text2}}
                <div class="secondary-text-color instructions">{{text2}}</div>
            {{else}}
                &nbsp;
            {{/if}}
        </div>

        <div class="col s2">
            {{#if text3}}
                <div class="secondary-text-color instructions">{{text3}}</div>
            {{else}}
                &nbsp;
            {{/if}}
        </div>
    </div>

</template>
