<template name="ApplicationLayout">

    <!-- Outer div so MDL does not destroy Iron Router events (see https://github.com/Zodiase/meteor-mdl/issues/2)-->
    <div>

        <!-- Material Design Lite layout wrapper -->
        <div class="mdl-layout mdl-js-layout background-paper-color">

                <!-- Header -->
                {{> header}}

                <main class="mdl-layout__content">
                    <!-- Error messages - dismissible -->
                    <div>{{> errors}}</div>

                    <!-- Variable content container -->
                    <div>
                        {{> yield "content"}}
                    </div>
                </main>

                <!-- Footer -->
                {{> footer}}
            </div>
    </div>

</template>
