<template name="ApplicationLayout">

    <!-- Outer div so MDL does not destroy Iron Router events (see https://github.com/Zodiase/meteor-mdl/issues/2)-->
    <div>

        <!-- Material Design Lite layout wrapper -->
        <div class="mdl-layout mdl-js-layout mdl-layout--overlay-drawer-button default-paper-color">

            <!-- Header -->
            {{> header}}

            <main class="mdl-layout__content">
                <!-- Error messages - dismissible -->
                <div>{{> errors}}</div>

                <div>
                    <div class="mdl-grid mdl-grid--no-spacing">
                        <div class="mdl-cell mdl-cell--2-col">
                            {{> sideNav}}
                        </div>
                        <div class="mdl-cell mdl-cell--10-col">
                            <!-- Variable content container -->
                            {{> yield "content"}}
                        </div>
                    </div>
                </div>
            </main>

            <!-- Footer -->
            {{> footer}}
        </div>
    </div>

</template>
