<template name="ApplicationLayout">

    <!-- Outer div so MDL does not destroy Iron Router events (see https://github.com/Zodiase/meteor-mdl/issues/2)-->
    <div>

        <!-- Material Design Lite layout wrapper -->
        <div class="mdl-layout mdl-js-layout mdl-layout--overlay-drawer-button default-paper-color">

            <!-- Header -->
            {{> header}}

            <main class="mdl-layout__content">
                <!-- Error messages - dismissible -->
                <div>{{> errors}}</div>


                <div class="mdl-grid mdl-grid--no-spacing">

                    <!-- Side Navigation -->
                    {{#unless isCurrentRoute "home"}}
                        <div class="mdl-cell mdl-cell--2-col">
                            {{> projectNav}}
                        </div>
                    {{/unless}}

                    <!-- Main Content -->
                    {{#if isCurrentRoute "home"}}
                        <div class="mdl-cell mdl-cell--12-col">
                            <!-- Variable content container -->
                            {{> yield "content"}}
                        </div>
                    {{else}}
                        <div class="mdl-cell mdl-cell--8-col">
                            <!-- Variable content container -->
                            {{> yield "content"}}
                        </div>
                        <div class="mdl-cell mdl-cell--2-col">
                            {{!-- RHS nav --}}
                        </div>
                    {{/if}}
                </div>
            </main>

            <!-- Footer -->
            {{> footer}}
        </div>
    </div>

</template>
